table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.pointer{
    cursor: pointer;
}

.m-b-20{
    margin-bottom: 20px;;
}
.m-r-20{
    margin-right: 20px !important;
}